body
{

    background-color: black;

    color: white;

}

button
{

    border: none;
    border-radius: 5px 5px 5px 5px;

    background-color: darkslategray;

    color: white;

    width: 120px;
    height: 40px;

}

#geolocation
{

    border: none;

    box-shadow: aquamarine 1px 1px 4px 4px;

    padding: 5px 5px 5px 5px;

}